@font-face {
    font-family: 'OpenGurbaniAkhar-Black';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/ascii/OpenGurbaniAkhar/Black/OpenGurbaniAkhar-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenGurbaniAkhar-Bold';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/ascii/OpenGurbaniAkhar/Bold/OpenGurbaniAkhar-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenGurbaniAkhar-Regular';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/ascii/OpenGurbaniAkhar/Regular/OpenGurbaniAkhar-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenAnmolUni-Bold';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/unicode/OpenAnmolUni/Bold/OpenAnmolUni-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSatlujUni-Bold';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/unicode/OpenSatlujUni/Bold/OpenSatlujUni-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSatlujUni-Regular';
    src: url('https://cdn.jsdelivr.net/gh/GurbaniNow/gurmukhi-fonts/unicode/OpenSatlujUni/Regular/OpenSatlujUni-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
