@font-face {
    font-family: 'OpenGurbaniAkhar-Black';
    src: url('OpenGurbaniAkhar-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenAnmolUni-Bold';
    src: url('OpenAnmolUni-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenGurbaniAkhar-Regular';
    src: url('OpenGurbaniAkhar-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenGurbaniAkhar-Bold';
    src: url('OpenGurbaniAkhar-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSatluj-Bold';
    src: url('OpenSatluj-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSatlujUni-Bold';
    src: url('OpenSatlujUni-Bold.otf');
    font-weight: normal;
    font-style: normal;
}